window {
    margin: 0px;
    border: 2px solid #FF92DF;
    border-radius: 10px;
    background-color: #22212C;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #22212C;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #22212C;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
} 

#entry.activatable #text {
    color: #282a36;
}

#entry > * {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #44475a;
}

#entry:selected #text {
    font-weight: bold;
}
